@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');




html {
  scroll-behavior: smooth;
  background-color: C982F0 !important;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #ffffff34;
  --color-yellow: #fffb4d;
  --font-staat: 'Staatliches', cursive;
  --font-os: 'Oswald', sans-serif;
  --font-ram: 'Rambla', sans-serif;
}

/* navnavbar-brand */
/* global variable */
.font-staat {
  font: normal 400 18px var(--font-staat);
}

.font-os {
  font: normal 300 18px var(--font-os);
}

.font-ram {
  font: normal bold 18px var(--font-ram);
}

.font-size-40 {
  font-size: 40px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-15 {
  font-size: 15px;
}

/* .navbar-brand {
  letter-spacing: 2px;
  color: var(--color-white);
} */

#id {
  width: 30px;
  height: 30px;
}


body {
  background-color: #fffb4d;
  margin: 0;
  padding: 0;
  /* background-color: #2C3335; */
  min-height: 100vh;
  font: normal 16px sans-serif;
}


.gallery-container h1 {
  /* position: absolute; */
  text-align: center;
  margin-top: 150px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  color: #58595a;
}

.hero {

  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* margin: 0; */
  padding: 0 20px;
  text-transform: uppercase;
  border: 5px solid #fffb4d;
  /* border-width: 447px; */
  border-bottom: 47px;
  border-top: none;
}

h1 span {
  position: relative;
  display: inline-block;
}

h1 span:nth-child(7) {
  color: #fff;
  animation: animate 2s alternate infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px)rotate(0deg);
  }

  40% {
    transform: translateY(0px)rotate(0deg);
  }

  50% {
    transform: translateY(-100px) rotate(180deg);
  }

  60% {
    transform: translateY(0px)rotate(360deg);
  }

  100% {
    transform: translateY(0px) rotate(360deg);
  }
}

h1:hover span {
  animation: animate 3s alternate infinite;
}

h1 span:nth-child(1) {
  animation-delay: 0.01s;
}

h1 span:nth-child(2) {
  animation-delay: 0.09s;
}

h1 span:nth-child(3) {
  animation-delay: 0.16s;
}

h1 span:nth-child(4) {
  animation-delay: 0.09s;
}

h1 span:nth-child(5) {
  animation-delay: 0.01s;
}

h1 span:nth-child(6) {
  animation-delay: 0.07s;
}

h1 span:nth-child(8) {
  animation-delay: 0.10s;
}

h1 span:nth-child(9) {
  animation-delay: 0.01s;
}

h1 span:nth-child(10) {
  animation-delay: 0.06s;
}

h1 span:nth-child(11) {
  animation-delay: 0.12s;
}

h1 span:nth-child(12) {
  animation-delay: 0.01s;
}

h1 span:nth-child(13) {
  animation-delay: 0.04s;
}

h1 span:nth-child(14) {
  animation-delay: 0.09s;
}



.gallery-container p.page-description {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: #85878c;

}

/* Styles for the gallery */

.tz-gallery {
  padding: 40px;
}

.tz-gallery .thumbnail {
  padding: 0;
  margin-bottom: 30px;
  border: none;
  transform: skew(1.5deg);
  border-radius: 0px;

  background: #fff000;
  box-shadow: 3px 5px 25px -5px #4eebc9,
    3px 5px 25px -5px #4eebc9;


  animation: shake 1s linear infinite;
  animation-play-state: paused;
}

.thumbnail:hover {

  animation-play-state: running;
}

@keyframes shake {
  0% {

    transform: skewY(1.5deg);
  }

  50% {

    transform: skewY(0deg);
  }

  100% {

    transform: skewY(1.5deg);
  }
}

.tz-gallery img {
  border-radius: 2px;
}

.tz-gallery {
  padding: 26px 30px;
  text-align: center;
}

.tz-gallery h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}

.tz-gallery p {
  font-size: 12px;
  color: #7b7d7d;
  margin: 0;
}

.baguetteBox-button {
  background-color: transparent !important;
}

#btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 22px;

}


.girl {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  box-shadow: -4px -4px 10px rgb(143, 231, 92),
    -4px 4px 10px rgba(90, 61, 61, 0.2);
  text-align: center;
  line-height: 50px;
  bottom: 80px;
  left: 30px;
  /* padding: 1; */
  margin-left: 5px;
  margin-bottom: 6px;
  margin-top: 3px;

}

.girl:hover {
  /* color:rgb(231, 29, 29); */
  box-shadow: -3px -3px 10px rgb(33, 214, 9),
    3px 3px 10px rgb(106, 216, 16);
}

.player img {

  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  box-shadow: -3px -3px 10px rgb(33, 214, 9),
    3px 3px 10px rgb(106, 216, 16);
  bottom: 200px;
  left: 30px;
  margin-left: 5px;
  margin-bottom: 6px;
  margin-top: 3px;
  animation: move 10s linear infinite;
  
}

.player img:hover {

  box-shadow: -3px -3px 10px #02fcda,
    3px 3px 10px #02fcda;
  cursor: pointer;

}


@keyframes move {
  0% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.design {
  font-family: 'Caveat', cursive;
  color: #85878c;
 
  text-transform: uppercase;
}



/* adding pre loader animation */
/* .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background:transparent;
  background : #fff;
  z-index : 99999;
}  

The dot
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-top: -50px;
  margin-left: -80px;
  border-radius: 5px;
  background-color: #1e3f57;
  transform-type: preserve-3d;
  animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.dot:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background-color: #3c617d;
  animation-name: dot2;
}

.dot:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background-color: #6bb2cd;
  animation-name: dot3;
}

@keyframes dot1 {

  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }

  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }

  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2 {

  3%,
  97% {
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
  }

  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-top: -48px;
    margin-left: -35px;
  }

  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-top: -30px;
    margin-left: -16px;
  }
}

@keyframes dot3 {

  3%,
  97% {
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
  }

  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-top: 49px;
    margin-left: -5px;
    border-radius: 8px;
  }

  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-top: -37px;
    margin-left: -8px;
    border-radius: 10px;
  }
}

*/

/* ::::::::::::::::::::::::: media queries:::::::::::::::::::;; */
@media only screen and (max-width: 765px) {
  #btn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    bottom: 30px;
    right: 20px;

    text-decoration: none;
    text-align: right;
    line-height: 50px;
    color: black;
    font-size: 22px;
  }



}

@media only screen and (min-width: 768px) {

  .thumbnail img {
    height: 419px !important;
    width: 332px !important;
  }
}


@media only screen and (max-width: 768px) {
  .girl {
    position: fixed;
    width: 30px;
    height: 30px;
    box-shadow: -4px -4px 10px rgb(143, 231, 92),
      -4px 4px 10px rgba(90, 61, 61, 0.2);

    text-align: center;
    line-height: 50px;
    bottom: 50px;
    left: 1px;

  }

  .player img {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    /* box-shadow: -4px -4px 10px rgb(143, 231, 92), */
    /* -4px 4px 10px rgba(90, 61, 61, 0.2); */
    box-shadow: -3px -3px 10px rgb(33, 214, 9),
      3px 3px 10px rgb(106, 216, 16);
    /* text-align: center; */
    line-height: 50px;
    bottom: 130px;
    left: 2px;
    /* padding: 1; */
    /* margin-left: 5px; */
    /* margin-bottom: 6px; */
    /* margin-top: 3px; */
  }
}

@media only screen and (max-width: 600px) {

  .tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
    border-radius: 0px;
    background: #fff000;
    box-shadow: 3px 5px 25px -5px #4eebc9,
      3px 5px 25px -5px #4eebc9;
    transform: skew(1deg);
    animation: shake 1.5s linear infinite;
  }


  @keyframes shake {
    0% {
      transform: skew(1deg);
    }

    50% {
      transform: skew(0deg);
    }

    100% {
      transform: skew(1deg);
    }
  }

}

@media only screen and (max-width: 425px) {

  .hero {
    margin-top: 90px;
    font: normal bold 18px sans-serif;
  }

  .gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 12px;
    color: #85878c;
  }
}

@media only screen and (min-width: 425px) {
  .hero {
    font-size: 20px;
  }
}



@media print {

  html,
  body {
    display: none;
  }
}